<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h4>1. George Orwell</h4>
    <h4>2. Gabriel Garcia Marquez</h4>
    <h4>3. F. Scott Fitzgerald</h4>
    <h4>4. J.R.R. Tolkien</h4>
    <h4>5. Jane Austen</h4>
    <h4>6. Dante Alighieri</h4>
    <h4>7. George R.R. Martin</h4>
    <h4>8. Ray Bradbury</h4>
    <h4>9. Yukio Mishima</h4>
    <h4>10. Toni Morrison</h4>
</body>

</html>